{% ckan_extends %}
{% block datasets %}
  {{ super() }}
  {% block discourse_comments_count %}
       {% set discourse_title = [group.display_name, " -"] %}
       {% set title_search =  discourse_title|join %}
       {% if h.discourse_comments_count(title_search) > 0 %}
          {% set temp_var = ["/group/about/",group.display_name|lower,"#discourse-comments"] %}
          {% set group_comment_url = temp_var|join %}
          <a href="{{ group_comment_url|replace(" ","-") }}" class="label" data-format="comment"><img src="/img/noun-comment-white.png" class="ztop-comment">{{ h.discourse_comments_count(title_search) }}</a>
       {% endif %}
  {% endblock %}
{% endblock %}