{% ckan_extends %}
{% block datasets %}
  {{ super() }}
  {% block discourse_comments_count %}
       {% set discourse_title = [title, " - Showcases -"] %}
       {% set title_search =  discourse_title|join %}
       {% if h.discourse_comments_count(title_search) > 0 %}
        <a href="{{ h.url_for(controller='ckanext.showcase.controller:ShowcaseController', action='read', id=package.name) }}#discourse-comments" class="label" data-format="comment"><img src="/img/noun-comment-white.png" class="ztop-comment">{{ h.discourse_comments_count(title_search) }}</a>
       {% endif %}
  {% endblock %}
{% endblock %}
