{% ckan_extends %}
{% block resources_inner %}
  {{ super() }}
  {% block discourse_comments_count %}
       {% set discourse_title = [title, " - Datasets -"] %}
       {% set title_search =  discourse_title|join %}
       {% if h.discourse_comments_count(title_search) > 0 %}
      <li><a href="{{ h.url_for(controller='package', action='read', id=package.name) }}#discourse-comments" class="label" data-format="comment"><img src="/img/noun-comment-white.png">{{ h.discourse_comments_count(title_search) }}</a></li>
       {% endif %}
  {% endblock %}
{% endblock %}
