<div class="module-content discourse-content">
{#
  <div id="discourse-comments" style="display:none; height:0; width:0;"></div>

<script type="text/javascript">
  DiscourseEmbed = { discourseUrl: '{{ discourse_url }}',
                     discourseEmbedUrl: '{{ topic_id }}' };
  // console.log(DiscourseEmbed);
  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>
#}
</div>